*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    z-index: 2;
}
.lg{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.lg:hover{
    color:gray;
}
.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
    text-decoration: none;
}

.menu{
    float: right;
    line-height: 100px;

}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.4s;
}
.show-menu-bar,.hide-menu-bar{
    padding: 0 10px;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-bar{
    float: right;
}
.show-menu-bar i{
    line-height: 100px;
}
.menu a:hover,
.show-menu-bar:hover,
.hide-menu-bar:hover{
    color: #3498db;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;

}
@media screen and (max-width: 800px){
    .show-menu-bar,.hide-menu-bar{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 10;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-bar{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}

.image{
    max-width: 250px;
    min-width: 125px;
    max-height: 150px;
    min-height: 75px;
}
.profile{
    width: 600px;
    background: #34495e;
    border-radius: 20px;
    margin: 30px auto 30px auto;
    color: black;
    text-align: left;
    padding: 10px 30px;
}
.list{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.profile .name{
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    text-align: center;
    color: lightcyan;
    max-width: 90%;
}
.profile .info{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: left;
    color: lightcyan;
}
.ad{
    width: 600px;
    background: lightblue;
    border-radius: 20px;
    padding: 30px 30px 10px 30px;
    margin: 20px auto 30px auto;
    color: black;
    text-align: left;
    z-index: 1;
}
.ad .image{
    margin-left: auto;
    margin-right: auto;
}
.ad h1{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
.ad h2{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 20px;
}
.ad h3{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: right;
    margin: 20px;
}
.ad .contacts{
    display: block;
    text-align: right;
    position: relative;
    margin-bottom: 30px;
    margin-right: 30px;
}
.ad .contacts h2,
.ad .timeslots h2{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #333333;
}
.ad .contacts h1,
.ad .timeslots h1{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: black;
}
.ad .timeslots{
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
}
.items{
    text-decoration: none;
    display: block;
    transition: 0.5s;
    width: inherit;
    position: center;
    margin: 7px;
}
.item{
     display: block;
     width: auto;
     height: 100px;
     background: lightblue;
     border-radius: 10px;
     position: center;
     text-decoration: none;
     padding: 10px;
     transition: 0.5s;
 }
.item:hover{
    transform: scale(1.1);
}
.item img{
    max-height: 90px;
    min-height: 60px;
    max-width: 120px;
    min-width: 80px;
    float: left;
    margin: 5px 10px 0 0;
}
.item text{
    margin: 20px;
    float: left;
    text-decoration: none;
}
.item .text h2{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
}
.item .text h1{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: black;
}
.item .text h4{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: gray;
}
.edit_btn{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin: 50px auto;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    border: none;
    background: #3498db;
    color: black;
    cursor: pointer;
    transition: 0.7s;
}
.edit_btn:hover{
    transform: scale(0.9);
}
.container{
    width: 360px;
    background: #34495e;
    border-radius: 20px;
    margin: 20px auto 30px auto;
    color: black;
    text-align: center;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 20px;
}
.container .btn{
    margin-bottom: 70px;
}
.container h1{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 60px;
}
.tbox{
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin: 10px auto;

}
/*.sel{*/
    /*width: 260px;*/
    /*height:40px;*/
    /*background: #f1f1f1b3;*/
    /*border-radius: 10px;*/
/*}*/
.sel #opt{
    background: #f1f1f1b3;
}
select{
    width: 260px;
    height:40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    text-align: center;
}
select text{
    text-align: center;
    color: gray;
}
option{
    background: #f1f1f1b3;
}
.tbox input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
}
.btn{
    width: 260px;
    height: 40px;
    border-radius: 10px;
    margin: 14px auto;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 20px;
    border: none;
    background: #3498db;
    color: black;
    cursor: pointer;
    transition: 0.7s;
}
.btn:hover{
    transform: scale(0.9);
}
.file{
    margin: 10px;
}
.b2{
    display: block;
    bottom: 10px;
    width: 260px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    transition: 0.4s all;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.b2:hover{
    background: #3498db;
}
.b4{
    position: absolute;
    display: block;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    transition: 0.4s all;
    color: white;
    border-radius: 10px;
}
.b4:hover{
    background: #3498db;
}
.search{
    width: 600px;
    height: 50px;
    margin: 20px auto 20px auto;
}
.search select,
.search .btn,
.search .tbox{
    float: left;
    width: 140px;
    margin: 3px;
    height: 30px;
}
